<!DOCTYPE html>

<html>
    <head>
        <title>CDC</title>

        <link rel="author" href="humans.txt" />

        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap-modal.js"></script>

        {% if refresh %}
            <META HTTP-EQUIV="refresh" CONTENT="3; url=http://isu-iasg.appspot.com/">
        {% endif %}

    </head>

    <body>

        <div class="container">
            <div id="content">

                {% block content %}{% endblock %}

            </div>
        </div>
    </body>
</html>
